<div>
    <h1>Log in on xyz.com</h1>
    <hr>

    {{#unless loggedIn}}
        <log-in @prefilledEmail={{prefilledEmail}} @onLogin={{onLogin}}></log-in>
    {{else}}
        <p>User logged in with {{email}}</p>
    {{/unless}}
</div>
